.divTabla{
    padding: 10px;
}

.mi-tabla {
    width: 100%;
    border-collapse: collapse;
}

.divTabla h2{
    text-align: center;
    font-size: 20px;
}

.mi-tabla th, .mi-tabla td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.mi-tabla th {
    background-color: #98ceec;
}

.mi-tabla tr:nth-child(even) {
    background-color: #f2f2f2;
}

.mi-tabla tr:hover {
    background-color: #ddd;
}